
h1, h2, h3, h4, h5{
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    margin: 5 0;
}

h1, h2 {
    font-weight: bold;
}

button{
    padding: 10px;
    border-radius: 10px;
    border: 3px solid gray;
}

input{
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

header{
    text-align: center;
    background-image: linear-gradient(to right, blue, rgb(63, 8, 107));
    color: white;
    padding:.25%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.search{
    align-items: left;
    border-bottom: 3px solid black;
    margin: 0;
}

.search div{
    margin: 1.5% 0;
} 

.current{
    padding: 15px 15px;
}

.subset {
    border: 3px solid black;
    align-items: center;
}

.searched{
    align-items: left;
    margin: 0;
}

.five-day{
    align-items: center;

}

.cityButton{
    background-color:rgb(183, 209, 209);
    color: black;

}

.card{
    background-color: rgb(3, 29, 65);
    color: white;
    margin:10px;
}

#initiate-search{
    background-color: rgb(54, 130, 157);
    color: white;
}